/* Main rules */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@500;800&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:whitesmoke;
    height: 1000px;
    width: 100%;
    background: url('../images/note-in-flames.jpg') no-repeat center center;
    background-size: cover;
    background-color: black;
    position: relative;
}


/* headings and logo */

header {
    height: 200px;
}
#logo {
    /* Logo bitmap 893x342 - w/h relation= 0.38 */
    width:500px;
    height: 190px;
    float: left;

}
#logo img {
    width:100%;
    height: 100%;
    /*position: absolute;*/
    left:0px;
    top:0px;
}
#logo p {
    width:500px;
    position: absolute;
    left:80px;
    top:150px;
    color:khaki;
    font-size: 10px;
}

#main_menu {
    height: 100px;
    width: 50%;
    font-size: 100%;
    letter-spacing: 3px;
    line-height: 100px;
    float: right;

}
#main_menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}
#main_menu a {
    border:1px solid black;
    border-radius: 20%;
    text-decoration: none;
    color:aliceblue;
}

#main_menu a:hover {
    border:1px solid red;
    border-radius: 20%;
}

#main_menu .active {
    border:1px solid yellow;
    border-radius: 20%;
    color:aqua;
    background-color:navy;
}

/* Presentation section */
#presentation {
    width: 100%;
    clear:both;
    float: left;
}
#content-menu {
    float:right;
    width: 30%;
    font-size: 100%;
    letter-spacing: 3px;
    line-height: 75px;
    text-align: center;
    /*background-color: rgb(0, 0, 0, .5);*/
    padding: 50px;
}

#content-menu li {
    list-style-type: none;
    
}
#content-menu a {
    border:1px solid black;
    border-radius: 20%;
    color:aliceblue;
    background-color:  rgb(0, 0, 0, .7);
    font-size: 150%;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

#content-menu a:hover {
    border:1px solid red;
    border-radius: 20%;
    background-color:  rgb(0, 0, 0);
}

#content-menu .active {
    border:1px solid yellow;
    border-radius: 20%;
    color:aqua;
    background-color:navy;
}

/* With us text */
#with-us-text {
    width: 30%;
    padding: 0 50px 50px 50px;
    font-size: 100%;
    float:left;
}
#with-us-text h1 {
    text-align: center;
    font-size: 150%;
}
#with-us-text h2 {
    text-align: left;
    font-size: 120%;
    color:darkkhaki;
}
#with-us-text p {
    text-align:justify;
    font-size: medium;
    margin-bottom: 20px;
    color: rgb(139, 169, 226);
}
#with-us-text hr {
    border-top: 1px solid darkkhaki;
    width: 100%;
    margin: 5px 0;
}

/* Footer */
footer{
    clear:both;
    width: 100%;
    height: 150px;
    /*border-top: 1px solid darkkhaki;*/
    padding: 20px;
}
#contact-info{
    float: left;
    font-size: 120%;
    font-weight: normal;
    text-align: center;
    line-height:30px;
}
#contact-info img {
    width: auto;
    max-width: 15px;
    height: auto;
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
    border: 0px;
    vertical-align:middle;
}
#social-net{
    float: right;
    width:50%;
}
#social-net ul{
    line-height:100px;
    height: 100px;
    width: 75%;
    float: left;
    display: inline;
}
#social-net li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

