/************** 
 * Main rules */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@500;800&family=Oswald&display=swap');

/* Global styles */

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    max-width:100vw;
}
/*************
 * Home Page */
#home-page {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:whitesmoke;
    height: 1100px;
    width: 100%;
    background: url('../images/note-in-flames.jpg') no-repeat center center;
    background-size: cover;
    background-color: black;
    /*position: relative;*/
}
/* headings and logo */
/*header {
    height: 200px;
}*/
#logo {
    /* Logo bitmap 893x342 - w/h relation= 0.38 */
    width:33%;
    float: left;

}
#logo img {
    width:90%;
    height: 90%;
    margin: auto;
    display: block;       
}
#logo p {
    position: relative;
    color:khaki;
    font-size: 1.5VW;
    margin-left:10%;
}
#main_menu {
    height: 100px;
    width: 60%;
    font-size: 100%;
    line-height: 300%;
    display: inline-block;
    float: right;
    position: relative;
}
#main_menu li {
    float: left;
    list-style-type: none;
    margin-right: 5px;
}
#main_menu a {
    border:1px solid black;
    border-radius: 20%;
    text-decoration: none;
    color:aliceblue;
}
#main_menu a:hover {
    border:1px solid red;
    border-radius: 20%;
}
#main_menu .active {
    border:1px solid yellow;
    border-radius: 20%;
    color:aqua;
    background-color:navy;
}

/* Presentation section */
#presentation {
    width: 100%;
    clear:both;
    float: left;
}
#content-menu {
    float:right;
    width: 30%;
    font-size: 100%;
    letter-spacing: 3px;
    line-height: 75px;
    text-align: center;
    /*background-color: rgb(0, 0, 0, .5);*/
    padding: 50px;
}
#content-menu li {
    list-style-type: none;
}
#content-menu a {
    border:1px solid black;
    border-radius: 20%;
    color:aliceblue;
    background-color:  rgb(0, 0, 0, .7);
    font-size: 150%;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
#content-menu a:hover {
    border:1px solid red;
    border-radius: 20%;
    background-color:  rgb(0, 0, 0);
}
#content-menu .active {
    border:1px solid yellow;
    border-radius: 20%;
    color:aqua;
    background-color:navy;
}
/* With us text */
#with-us-text {
    background-color:rgb(0, 0, 0, .7);
    width: 50%;
    padding: 0 50px 0 50px;
    font-size: 100%;
    float:left;
}
#with-us-text h1 {
    text-align: center;
    font-size: 150%;
}
#with-us-text h2 {
    text-align: left;
    font-size: 120%;
    color:darkkhaki;
}
#with-us-text p {
    text-align:justify;
    font-size: medium;
    margin-bottom: 20px;
    color: rgb(139, 169, 226);
}
#with-us-text hr {
    border-top: 1px solid darkkhaki;
    width: 100%;
    margin: 5px 0;
}

/* Footer */
footer{
    width: 100%;
    padding: 20px;
}

#contact-info{
    width: 50%;
    float: left;
    font-size: 120%;
    font-weight: normal;
    text-align: center;
    line-height:30px;
}
#contact-info img {
    width: auto;
    max-width: 15px;
    height: auto;
    margin: 0px;
    padding: 0px;
    padding-right: 5px;
    border: 0px;
    vertical-align:middle;
}
#social-net{
    float: right;
    width:50%;
}
#social-net ul{
    line-height:100px;
    height: 100px;
    width: 75%;
    float: left;
    display: inline;
}
#social-net li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}
/*****************
 * About us page */
#about-us-page {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:whitesmoke;
    height: 1100px;
    width: 100%;
    background: url('../images/treble-clef-in-flames.jpg') no-repeat center center;
    background-size: cover;
    background-color: black;
    position: relative;
}
#about-us-text {
    background-color:rgb(0, 0, 0, .7);
    width: 40%;
    padding: 0 50px 50px 50px;
    font-size: 100%;
    float:left;
}
#about-us-text h1 {
    text-align: center;
    font-size: 150%;
}
#about-us-text h2 {
    text-align: left;
    font-size: 120%;
    color:darkkhaki;
}
#about-us-text p {
    text-align:justify;
    font-size: medium;
    margin-bottom: 20px;
    color: rgb(139, 169, 226);
}
#about-us-text hr {
    border-top: 1px solid darkkhaki;
    width: 100%;
    margin: 5px 0;
}

/****************
 * Sign Up Page */
#sign-up-page {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color:whitesmoke;
    height: 1100px;
    width: 100%;
    background: url('../images/treble-clef-in-flames.jpg') no-repeat center center;
    background-size: cover;
    background-color: black;
    position: relative;
}
#sign-up-text {
    background-color:rgb(0, 0, 0, .7);
    width: 40%;
    padding: 0 50px 50px 50px;
    font-size: 100%;
    float:left;
}
#sign-up-text h1 {
    text-align: center;
    font-size: 150%;
}
#sign-up-text label{
    font-size: 120%;
    color:darkkhaki;
    padding-right: 15px;
}
.text-input {
    background: transparent;
    font-size: 120%;
    color:darkkhaki;
    width: 100%;
    height: 25px;
    margin: 0px 0 20px;
    border:1px solid yellow;
    border-radius: 2px;
}

.text-input:hover {
    border-color: red;
    background-color: blue;
    color: darkkhaki;
}

.join-button {
    border:1px solid yellow;
    margin-top: 20px;
    border-radius: 20%;
    padding: 15px 32px ; 
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    background-color: darkkhaki;
    color: blue;
    display: block
}

.join-button:hover {
    border:1px solid  red;
    background-color: blue;
    border-radius: 20%;
    color: darkkhaki;
}

 /*For screens size smaller than 1024px */
@media screen and (max-width: 1024px) {
    #content-menu{
        float:left;
        width:100%;
        padding:0;
        line-height:60px;
        letter-spacing: 1px;
    }

    #with-us-text {
        width: fit-content;
    }
}

/*For screens size smaller than 768px */
@media screen and (max-width: 768px) {
    #social-net {
        float: right;
        width: 100%;
    }
    #contact-info {
        float: right;
        width: 100%;
    }
}